<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ExportPath" value=""/>
		<add key="ExportFormat" value="JPG"/>
		<add key="JpgExportQuality" value="100"/>
		<add key="PngCompressLevel" value="5" />
		<add key="ColorProfile" value="0"/>
		<add key="CopyRightStr" value="All work and no play makes Jack a dull Malou"/>
		<add key="SoftwareStr" value="Malou Localization Team (Malou Neverland)"/>
		<add key="ArtistStr" value=""/>
		<add key="DescriptionStr" value=""/>
	</appSettings>
</configuration>