<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ExportPath" value=""/>
		<add key="ExportFormat" value="JPG"/>
		<add key="JpgExportQuality" value="100"/>
		<add key="PngCompressLevel" value="5" />
		<add key="ColorProfile" value="1"/>
		<add key="CopyRightStr" value="All work and no play makes Jack a dull Malou"/>
		<add key="SoftwareStr" value="Malou Localization Team (Malou Neverland)"/>
		<add key="ArtistStr" value=""/>
		<add key="DescriptionStr" value=""/>
		<add key="WebpNearLossless" value="1"/>
		<add key="WebpExportMode" value="1"/>
		<add key="WebpNearLosslessQuality" value="100"/>
		<add key="WebpEntropyPasses" value="1"/>
		<add key="WebpQuality" value="100"/>
		<add key="WebpEncodingMethod" value="4"/>
	</appSettings>
</configuration>